.slideshow-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-container {
  perspective: 1000px;
  width: fit-content;
  height: fit-content;

  &.flipped {
    .slideshow-image {
      transform: rotateY(180deg);
    }

    .photo-caption {
      display: block;
      transform: rotateY(180deg) translate(-50%, -50%);
    }
  }
}

.slideshow-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(var(--rotate)) rotateZ(var(--rotateZ));
  transition: transform 1s ease, opacity 1s ease;
  animation: slightMove var(--duration) ease-in-out infinite;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), inset -1px -1px 3px rgba(0, 0, 0, 0.1), 0 8px 15px rgba(0, 0, 0, 0.3);
  backface-visibility: hidden;

  &.horizontal {
    height: auto;
    width: 70vw;
  }

  &.vertical {
    width: 550px;
  }

  @media (max-width: 768px) {
    &.horizontal {
      width: 100vw;
    }

    &.vertical {
      width: 350px;
    }
  }

  &.hidden {
    opacity: 0;
  }

  &.visible {
    opacity: 1;
  }

  &.stacked {
    opacity: 1;
  }

  &.slide-out-left {
    animation: slideOutLeft 1s forwards;
  }

  &.slide-out-right {
    animation: slideOutRight 1s forwards;
  }
}

.vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: left;
}

@keyframes slideOutLeft {
  0% {
    transform: translate(-50%, -50%) rotate(var(--rotate)) rotateZ(var(--rotateZ));
    opacity: 1;
  }
  100% {
    transform: translate(calc(-50% - 100vw), -50%) rotate(calc(var(--rotate) - 20deg)) rotateZ(var(--rotateZ));
    opacity: 0;
  }
}

@keyframes slideOutRight {
  0% {
    transform: translate(-50%, -50%) rotate(var(--rotate)) rotateZ(var(--rotateZ));
    opacity: 1;
  }
  100% {
    transform: translate(calc(-50% + 100vw), -50%) rotate(calc(var(--rotate) + 20deg)) rotateZ(var(--rotateZ));
    opacity: 0;
  }
}

@keyframes slightMove {
  0% {
    transform: translate(-50%, -50%) rotate(var(--rotate)) rotateZ(var(--rotateZ)) translateX(0) translateY(0);
  }
  50% {
    transform: translate(-50%, -50%) rotate(var(--rotate)) rotateZ(var(--rotateZ)) translateX(var(--moveX)) translateY(var(--moveY));
  }
  100% {
    transform: translate(-50%, -50%) rotate(var(--rotate)) rotateZ(var(--rotateZ)) translateX(0) translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 2s ease-in;
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), inset -1px -1px 3px rgba(0, 0, 0, 0.1), 0 8px 15px rgba(0, 0, 0, 0.3);
}

.grid-item.horizontal {
  width: 85vw; /* Adjust as needed for horizontal images */
}

.grid-item.vertical {
  width: auto;
  height: 100vh; /* Adjust as needed to match horizontal image height */
}

/* Mobile Floating Buttons */
.fixed-bottom {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  width: 80%;
  z-index: 50;
}

.fixed-bottom button {
  background: rgba(0, 0, 0, 0.85); /* Black background with slight opacity */
  border: none;
  color: white; /* White color icon */
  font-size: 1.5rem;
  border-radius: 50%; /* Round background */
  padding: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
