/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css or wherever your global styles are defined */

@font-face {
  font-family: "Muse";
  src: url("/fonts/Muse/hv_muse_regular-webfont.woff2") format("woff2"), url("/fonts/Muse/hv_muse_regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Muse";
  src: url("/fonts/Muse/hv_muse_italic-webfont.woff2") format("woff2"), url("/fonts/Muse/hv_muse_italic-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

body {
  margin: 0;
  @apply font-serif text-gray-900 antialiased text-base;
  scroll-behavior: smooth;
}

a {
  @apply hover:underline;
}

.underlined-links a {
  @apply underline hover:text-red-500;
}
